.features {
    margin: 20px 35px;
    text-align: center;

    .box {
        display: inline-block;
    
        @media only screen and (min-width: $bp-medium) {
            padding: 20px 30px;
        }
    
        @media only screen and (min-width: $bp-xl) {
            padding: 20px 10px;
        }
    
        @media only screen and (min-width: $bp-xxl) {
            padding: 20px 25px;
        }
    
        &-icon {
            margin-top: 50px;
            padding: 20px;
            display: inline-block;
            border-radius: 50%;
            background-image: -webkit-linear-gradient(55deg, var(--blue) 0%, var(--green));
            -webkit-animation: colorchange 5s linear infinite;
            animation: colorchange 5s linear infinite;
            -webkit-transition: all 0.3 ease-in;
            -o-transition: all 0.3 ease-in;
            transition: all 0.3 ease-in;
        }
    
        &-content {
    
            p {
                max-width: 350px;
                text-align: center;
                line-height: 150%;
                
                @media only screen and (min-width: $bp-medium) {
                    max-width: 280px;
                }
    
                @media only screen and (min-width: $bp-large) {
                    max-width: 350px;
                }
    
                @media only screen and (min-width: $bp-xl) {
                    max-width: 240px;
                }
                @media only screen and (min-width: $bp-xxl) {
                    max-width: 250px;
                }
            }
        }
    
        img {
            margin: 0;
            height: 50px;
        }
    
    }

    .border-bottom {
        border-bottom: 1px solid var(--grey);
        margin: 50px;
    }
}