// Background SVG
.header-bg {
    position: relative;
    height: 60vh;
    background: var(--primary);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-dark), var(--primary));  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(left, var(--primary-dark), var(--primary));
    background: linear-gradient(to right, var(--primary-dark), var(--primary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--white);

    @media only screen and (min-width: $bp-medium) {
        height: 65vh;
    }

    @media only screen and (min-width: $bp-large) {
        height: 80vh;
    }

    @media only screen and (min-width: $bp-xxl) {
        height: 85vh;
    }

    .bg-svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 60vh;

    img {
        display: none;

        @media only screen and (min-width: $bp-medium) {
            display: inline;
            height: 350px;
        }

        @media only screen and (min-width: $bp-large) {
            height: 420px;
        }
    }

    @media only screen and (min-width: $bp-medium) {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-grid-row-align: center;
        align-items: center;
        text-align: left;
    }
}

.content {
    -ms-grid-column-span: 4;
    -ms-grid-column: 3;
    grid-column: 3 / span 4;
    -ms-grid-row: 1;
    grid-row: 1;

    @media only screen and (min-width: $bp-xxl) {
        -ms-grid-row: 10;
        grid-row: 10;
    }

    p {
        margin-top: 5px;
    }
}

.header-image {
    display: inline-block;
    -ms-grid-column-span: 2;
    -ms-grid-column: 7;
    grid-column: 7 / span 2;
    -ms-grid-row: 1;
    grid-row: 1;
    position: relative;
    -webkit-animation: MoveUpDown 1.8s linear infinite;
    animation: MoveUpDown 1.8s linear infinite;

    @media only screen and (min-width: $bp-xxl) {
        -ms-grid-row: 10;
        grid-row: 10;
    }
}