:root {
    --black: #272727;
    --white: #FFF;
    --grey: #dee2e6;
    --light-grey: #eee;
    --grey-light-dark: #bdbdbd;
    --grey-dark: #505b6d;

    --primary: #24C6DC;
    --primary-dark: #514A9D;

    --light-blue: #9191ff;
    --purple: #b275f0;
    --pink: #f075c7;
    --yellow: #FFC600;
    --green: #75f094;
    --green-dark: #51ca80;
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    min-height: calc(100vh - 100px);
    letter-spacing: .5px;
}

h1, h2, h3, h4 {
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    margin: 30px 0 20px 0;
}

p {
    line-height: 28px;
}

a {
    text-decoration: none;
}

.subtitle {
    font-weight: 700;
    color: var(--primary-dark);
    text-transform: uppercase;
    line-height: 0;
    font-size: 12px;
}