// -- Color CSS Variables -- //
:root {
    --black: #272727;
    --white: #FFF;

    --primary: #24C6DC;
    --primary-dark: #514A9D;

    --light-blue: #9191ff;
    --purple: #b275f0;
    --pink: #f075c7;
    --yellow: #FFC600;
}

// Media Queries
$bp-xxl: 1300px;
$bp-xl: 1150px;
$bp-large: 1024px; // iPad Pro
$bp-medium: 768px; // iPad