.features {
    text-align: center;

    &-video {
        margin: 40px 0;

        img {
            max-width: 100%;
            border-radius: 20px;
        }
    }
}

.border-bottom {
    border-bottom: 1px solid var(--grey);
    margin: 50px;
}

.box {
    display: inline-block;

    @media only screen and (min-width: $bp-medium) {
        padding: 20px 30px;
    }

    @media only screen and (min-width: $bp-xl) {
        padding: 20px 10px;
    }

    @media only screen and (min-width: $bp-xxl) {
        padding: 20px 25px;
    }

    &-icon {
        margin-top: 50px;
        background-image: -webkit-linear-gradient(55deg, #75b2f0 0%, #75f094);
        animation: colorchange 5s linear infinite;
        padding: 20px;
        border-radius: 50%;
        transition: all 0.3 ease-in;
        display: inline-block;
    }

    &-content {

        p {
            max-width: 350px;
            text-align: center;
            line-height: 150%;
            
            @media only screen and (min-width: $bp-medium) {
                max-width: 280px;
            }

            @media only screen and (min-width: $bp-large) {
                max-width: 350px;
            }

            @media only screen and (min-width: $bp-xl) {
                max-width: 240px;
            }
            @media only screen and (min-width: $bp-xxl) {
                max-width: 250px;
            }
        }
    }

    svg {
        height: 50px;
        width: 50px;
        fill: var(--white);
    }

}
// Features icon colour change animation
@keyframes colorchange {
    0% {
        background-image: -webkit-linear-gradient(55deg, var(--primary) 0%, var(--green));
    }
    25% {
        background-image: -webkit-linear-gradient(55deg, var(--purple) 0%, var(--primary-dark));
        
    }
    50% {
        background-image: -webkit-linear-gradient(55deg, var(--pink) 0%, var(--light-blue));
    }
    75% {
        background-image: -webkit-linear-gradient(55deg, var(--primary-dark) 0%, var(--primary));
    }
}

.features-video {
    position: relative;

    svg {
        position:absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        fill: var(--primary-dark);
        stroke: var(--primary-dark);
        padding: 20px;
    
        @media only screen and (min-width: $bp-extrasmall) {
            top: 30%;
        }
    
        @media only screen and (min-width: $bp-small) {
            top: 35%;
            padding: 10px;
        }
    
        @media only screen and (min-width: $bp-medium) {
            top: 40%;
            padding: 0;
        }
    }
}

// Play button SVG animation
@keyframes spin {
    to { transform: rotate(360deg); }
  }
  
  .stroke-dotted {
    opacity: 0;
    stroke-dasharray: 4,5;
    stroke-width: 1px;
    transform-origin: 50% 50%;
    animation: spin 4s infinite linear;
    transition: opacity 1s ease, 
                stroke-width 1s ease;
  }
  .stroke-solid {
    stroke-dashoffset: 0;
    stroke-dashArray: 300;
    stroke-width: 4px;
    transition: stroke-dashoffset 1s ease, 
                opacity 1s ease;
  }
  
  .icon {
    transform-origin: 50% 50%;
    transition: transform 200ms ease-out;
  }
  

#play:hover {
    .stroke-dotted {
        stroke-width: 4px;
        opacity: 1;
    }
    .stroke-solid {
        opacity: 0;
        stroke-dashoffset: 300;
    }
    .icon {
        transform: scale(1.05);
    }
}

.stats {
    display: inline-block;
    margin: 30px 60px;

    @media only screen and (min-width:650px) {
        margin: 30px 40px;
    }

    @media only screen and (min-width:809px) {
        margin: 30px 50px;
    }
    
    @media only screen and (min-width:950px) {
        margin: 30px 13px;
    }  
    
    @media only screen and (min-width: $bp-large) {
        margin: 30px 22px;
    }  
    
    @media only screen and (min-width: $bp-xl) {
        margin: 30px 35px;
    }    

    @media only screen and (min-width: $bp-xxl) {
        margin: 30px 50px;
    }    

    .container {
        display: flex;
        align-items: center;
        margin: 5px 0;

        svg {
            height: 60px;
            fill: var(--purple);
        }
    }

    &-content {
        text-align: left;
        margin: 0 20px;

        span {
            font-size: 35px;
        }

        p {
            margin-left: 2px;
            font-weight: 600;
            color: var(--grey-dark);
        }
    }
}